{%extends 'base.html'%}
{% block content %}

<h1 class="h3 mb-2 text-gray-800">Bank mini-statement</h1>
          <p class="mb-4">Bank account summary<a target="_blank" href="https://datatables.net"></a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Transactions</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Type</th>
                      <th>Name</th>
                      <th>Amount</th>
                      <th> Date</th>

                    </tr>
                  </thead>
                    <tbody>
                 {% for p in transactions %}
                    <tr>
                        <td>deposits</td>
                      <td>{{ p.user }}</td>
                      <td>{{ p.amount }}</td>
                      <td>{{p.timestamp}}</td>

                    </tr>

                    {% endfor %}
                    <hr>
                 {% for p in deposits %}
                    <tr>
                        <td>withdrawals</td>
                      <td>{{ p.user }}</td>
                      <td>{{ p.amount }}</td>
                      <td>{{p.timestamp}}</td>

                    </tr>

                    {% endfor %}
                  </tbody>
                </table>
                  </div>
            </div>
          </div>

{% endblock %}